<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828973697751-8uq45l6asd0op8c2ifrk751bqqnpo2je.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828973697751-8uq45l6asd0op8c2ifrk751bqqnpo2je</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>828973697751-mnkjphslkki7nvuprcld0dhegau3k2b8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDP5jChWlQabGp52fHYmYFenrmMK9U2i3I</string>
	<key>GCM_SENDER_ID</key>
	<string>828973697751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.calorietracker</string>
	<key>PROJECT_ID</key>
	<string>calorietracker-1654853133490</string>
	<key>STORAGE_BUCKET</key>
	<string>calorietracker-1654853133490.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828973697751:ios:3be90214b3a5c1e228fe92</string>
  <key>NSPhotoLibraryUsageDescription</key>
  <string>This app requires access to the photo library.</string>
  <key>NSCameraUsageDescription</key>
  <string>This app requires access to the camera.</string>
</dict>
</plist>
